/* border: solid 1px #bebebc;
*/
/* 
light beige - #F0DDBC
dark beige - #E3CFAA
light green mountain - #91BC91
dark green mountain - #8DA78A
dark green bush - #779F47
light green bush - #B4C75B
leaf green - #64B78B
bird pink - #F8968B
light leaf green - #BEE360
bird yellow -#F9CC8B
bird blue - #B0D1E0
*/


* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  background: rgb(90, 82, 74);
}

main {
  background: url('graphics/cartoon-mountain-background.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: row;
  margin: 20px;
  width: 90%;
  height: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 4px -6px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 5px solid black;
}

button {
    background: #E3CFAA;
    border: solid 2px black;
    box-shadow: 5px 5px 5px -5px hsla(0,0%,0%,.3);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: StoneHinge;
    font-size: 20px;
    color: rgb(90, 82, 74);
  }

button:hover {
  transform: scale(1.1);
}


h1, h2 {
  font-size: 40px;
  font-family: StoneHinge;
  color: beige;
  text-shadow: 
  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
}

h1 {
  font-size: 50px;
  text-align: center;
}


.center-column {
  flex: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hidden-board {
  display: none;
}

.left-column, .right-column {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bone-picture {
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.leaf-picture {
  flex: 1;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.carnivore-dino, .herbivore-dino {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.carnivore-dino-left {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.herbivore-dino-right {
  width: 100%;
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 50px;
}

.carnivore-eggs, .herbivore-eggs {
  width: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.start-page {
  background: url('graphics/cartoon-mountain-background.jpg');
  background-size: cover;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 20px;
  width: 90%;
  height: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 4px -6px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 5px solid black;
}

.title-text, .dino-text {
  font-size: 100px;
  font-family: StoneHinge;
  color: beige;
  text-shadow: 
  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
  margin-bottom: 15px;
}

.dino-text {
  font-size: 200px;
  animation: heartBeat;
  animation-duration: 5s;
}

.choose-dino-page {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  margin: 20px;
  width: 60%;
  height: 90%;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 10px 10px 4px -6px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  border: 5px solid black;
}

.choose-dino-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 50%;
}

.choose-dino-header-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  flex: 1;
}

.dino-figures {
  display: flex;
  flex-direction: row;
  flex: 4;
}

.dino {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
}


.main-board {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}



.small-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin: 5px;
  padding: 5px;
  box-shadow: 5px 5px 5px -5px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
}

.hidden-small-board {
  display: none
}

.active {
  background-color: rgba(176, 209, 224, 1)
}

.disabled {
  filter: blur(1px);
}

.carnivore {
  background: #F8968B;
  filter: blur(1px);
}

.herbivore {
  background: #BEE360;
  filter: blur(1px);
}

.tie {
  background: gray;
  filter: blur(1px);
}

.bone-sticker {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background: url('graphics/Dinosaurs/bone.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(0);
  background-position: center;
}

.leaf-sticker {
  position: absolute;
  display: flex;
  height: 100%;
  width: 100%;
  background: url('graphics/Dinosaurs/leaf.png');
  background-size: contain;
  background-repeat: no-repeat;
  filter: blur(0);
  background-position: center;
}

.cell {
  border: solid 1px black;
  box-shadow: 5px 5px 5px -5px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin: 2px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cell:hover {
  transform: scale(1.1);
}

.hidden-cell {
  display: none
}

.leaf {
  background: url('graphics/Dinosaurs/leaf.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bone {
  background: url('graphics/Dinosaurs/bone.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.player-turn {
  font-size: 40px;
  font-family: StoneHinge;
  color: beige;
  text-shadow: 
  0 1px 0 #ccc, 
  0 2px 0 #c9c9c9,
  0 3px 0 #bbb,
  0 4px 0 #b9b9b9,
  0 5px 0 #aaa,
  0 6px 1px rgba(0,0,0,.1),
  0 0 5px rgba(0,0,0,.1),
  0 1px 3px rgba(0,0,0,.3),
  0 3px 5px rgba(0,0,0,.2),
  0 5px 10px rgba(0,0,0,.25),
  0 10px 10px rgba(0,0,0,.2),
  0 20px 20px rgba(0,0,0,.15);
  margin-bottom: 15px;
}

.dancing-dino {
  animation: spin 4s linear infinite
}

#disabled {
  filter: blur(2)
}

#pop-up {
  background: #E3CFAA;
  border: solid 3px black;
  box-shadow: 5px 5px 5px -5px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin: 2px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: StoneHinge;
  font-size: 50px;
  color: rgb(90, 82, 74);
  position: absolute;
}

#c-egg-1, #c-egg-2, #c-egg-3, #h-egg-1, #h-egg-2, #h-egg-3 {
  height: 100%;
  flex: 1;
  padding: 5px;
}

#trex:hover, #ptero:hover, #giganto:hover, #tricera:hover, #stego:hover, #bronto:hover {
    transform: scale(2)
}


@keyframes spin {
  100%
  {transform: rotate(360deg)}
}


/*

#A, #B, #D, #E {
  border-right: 5px solid rgb(90, 82, 74);;
  border-bottom: 5px solid rgb(90, 82, 74);;
}

#G, #H {
  border-right: 5px solid rgb(90, 82, 74);;
  
}

#C, #F {
  border-bottom: 5px solid rgb(90, 82, 74);;
}

*/


