/* border: solid 1px #bebebc;
*/


* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0;
  /*background: url('graphics/cartoon-mountain-background.jpg');
  */
  background-size: cover;
}

.main-board {
  display: flex;
  flex-direction: row;
  width: 600px;
  height: 600px;
  flex-wrap: wrap;
}

.small-board {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}

.active {
  background: lightblue;
}

.disabled {
  filter: blur(1px);
}

.carnivore {
  background: pink;
  filter: blur(1px);
}

.herbivore {
  background: lightgreen;
  filter: blur(1px);
}

.tie {
  background: gray;
  filter: blur(1px);
}

.cell {
  border: solid 1px black;
  box-shadow: 5px 5px 5px -5px hsla(0,0%,0%,.3);
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin: 2px;
  background: white;
}

.cell:hover {
  transform: scale(1.1);
}

.leaf {
  background: url('graphics/Dinosaurs/leaf.png');
  background-size: cover;
}

.bone {
  background: url('graphics/Dinosaurs/bone.png');
  background-size: cover;
}

#A, #B, #D, #E {
  border-right: 5px solid rgb(90, 82, 74);;
  border-bottom: 5px solid rgb(90, 82, 74);;
}

#G, #H {
  border-right: 5px solid rgb(90, 82, 74);;
  
}

#C, #F {
  border-bottom: 5px solid rgb(90, 82, 74);;
}


